body {
    margin: 0;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust z-index as needed */
    padding: 10px 0 15px 20px ;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 8px 12px rgba(68, 68, 68, 0.113);
    
}

.logo-container{
    display: flex;
}

.logo-container p{
   font-size: 20px;
   display: inline-block;
   font-weight: 600;
   letter-spacing: 1px;
}

.logo-container .home-btn{
    color: #000000;
 }


.logo{
    width: 30px;
    display: inline;
    margin-top: 19px;
    margin-right: 7px;
}





.upper-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 0px;
}


.nav-a{
    color: black;
    border-bottom: none;
    margin-left: 2%;
    margin-right: 50px; /* Adjust this value to control the space between links */
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.5s;
    position: relative;
    height: fit-content;
    z-index: 1000;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    cursor: pointer;
}

.nav-a:hover{
    color: #5915df;
}

.freebtn1{

    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #5915df;
    color: #5915df;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
    margin-right: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.signup-btn{
    margin-right: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #000000;
    border: 2px solid #000000;
}

.free-trialbtn:hover{
    background-color: #5915df;
    color: white;
    
}

.signup-btn:hover{
    background-color: #fff;
    color: #000000;
    
}

.lower-nav{
    display: none;
}

.ham-div{
    display: none;
}


@media only screen and (max-width: 800px){
    nav a{
        margin-left: 15;
        margin-right: 7;
    }
}



@media only screen and (max-width: 1000px) {

    .sidepanel {

        height: 100%; 
        width: 0; 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: fixed; 
        z-index: 1;
        left: 0;
        top: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #000000; 
        color: #fff;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 20px;
        transition: 0.3s ease;
    }

    .upper-nav{
        flex-direction: column;
    }

    .lower-nav{
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
        margin-left: 20px;
    }

    .nav-overlay{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 99;
    }

    .nav-a2{
        border-bottom: 1px dashed #fff;
        width: fit-content;
        font-size: 16px;
    }

    nav{
        margin-top: 0;
    }


    
    nav .nav-a{
        
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        color: white;
        display: block;
        transition: 0.3s;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
        white-space: nowrap;
        transition: 0.3s;
        cursor: pointer;
        z-index: 1;
        letter-spacing: 0.5px;
    }


    .ham-div{
        display: block;
        margin-right: 30px;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .hamRotate.active {
        transform: rotate(45deg);
      }
      .hamRotate180.active {
        transform: rotate(180deg);
      }
      .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: black;
        stroke-width:5.5;
        stroke-linecap:round;
      }
      .ham1 .top {
        stroke-dasharray: 40 139;
      }
      .ham1 .bottom {
        stroke-dasharray: 40 180;
      }
      .ham1.active .top {
        stroke-dashoffset: -98px;
      }
      .ham1.active .bottom {
        stroke-dashoffset: -138px;
      }

    .freebtn1{
        display: none;
    }
}

.main{
    height: 100%;
    padding: 0px;
}

.banner1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 145%;
    padding-top: 100px;
    color: #000000;
    width: 580px;
}


.banner-btn1{
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 30px;
    background-color: white;
    border: 2px solid #5915df;
    color: #5915df;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    margin-right: 10px;
    box-shadow: 4px 4px #5915df; 
    transition: 0.5s;
    
}

.banner-btn2{
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 30px;
    background-color: white;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    margin-right: 50px;
    box-shadow: 4px 4px rgb(0, 0, 0);
    transition: 0.5s;
}



.banner-btn:hover{
    box-shadow: none;
} 

.banner-btn2:hover{
    box-shadow: none;
}

.banner1p{
    font-size: 22px;
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 135%;
    margin-top: 0;
}

.section-1{
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
}


.banner-img{
    width: 400px;
    margin-top: 100px;
    margin-right: 10%;
}

.img-bg{
    width: 20%;
}

@media only screen and (max-width: 1100px){

    .section-1{
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .banner-img{
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        box-sizing: border-box;
    }

    .img-bg{
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .banner1{
        font-size: 45px;
        width: 550px;
        padding-top: 100px;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .banner1p{
        font-size: 20px;
        width: 400px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-btn{
        font-size: 16px;
        padding: 20px 30px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    
    .banner-btns{
        padding: 0;
        text-align: center;
        display: block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 600px){

    .logo{
        width: 30px;
        margin-top: 13px;
    }

    .logo-container p{
        font-size: 18px;
        display: inline-block;
        font-weight: 600;
        letter-spacing: 1px;
    }

    header{
        padding: 10px 0 0 10px;
    }


    .main{
        background-color: #fff;
    }


    .banner1{
        font-size: 26px;
        width: 350px;
        line-height: 140%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .banner1p{
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 0;
        text-align: center;
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-btn{
        font-size: 15px;
        font-weight: 500;
        padding: 18px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }




    .banner-btns{
        padding: 0;
        text-align: center;
        display: block;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
    }


}

@media only screen and (max-width: 400px){
    .banner1{
        width: 90%;
    }

    .banner1p{
        width: 90%;
    }

    .banner-btn{
        padding: 15px;
    }

    .banner-btns{
        width: 90%;
    }
}

@media only screen and (max-width: 350px){
    .banner1{
        width: 90%;
        font-size: 22px;
    }

    .banner1p{
        width: 90%;
        font-size: 12px;
    }

    .banner-btn{
        padding: 12px;
    }
}

.section-2{
    margin-top: 0;
}

.banner-2{
    padding-top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.banner2-h{
    font-size: 40px;
    color: #1a1a1a;
    margin-bottom: 0;
    line-height: 1.25;
}

.banner2-p{
    font-size: 17px;
    color: #6d6d6d;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

@media only screen and (max-width: 600px){
    .banner2-p{
        width: 300px;
    }

    .banner2-h{
        font-size: 30px;
    }
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services-blocks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.service-content{
    text-align: left;
}

.s-block{
    border: 1px solid #efefef;
    border-radius: 10px;
    margin: 15px;
    padding: 40px 30px;
    width: 25%;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.156), 0 2px 4px rgba(0, 0, 0, 0.098);
    transition: box-shadow 0.3s ease;
}

.s-block:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}


@media only screen and (max-width: 1100px){
    .s-block{
        height: 250px;
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .s-block{
        height: 250px;
        width: 80%;
        padding: 25px 20px;
    }

}

@media only screen and (max-width: 320px){
    .s-block{
        height: 270px;
        width: 80%;
        padding: 40px 20px;
    }
}

.service-icon-container{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 25px;
    background-color: #fff;
    border: 3px solid #5915df;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.service-icon{
    width: 45px;
}

.services-content{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s-h{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: left;
    font-size: 22px;
}

.s-p{
    color: #6d6d6d;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: 0.5px;
}



.exp-container{
    padding-left: 30px;
    margin-top: 100px;
}

.exp-h{
    font-size: 30px;
    color: #1a1a1a;
    margin-bottom: 30px;
    line-height: 1.25;
}

.accordion {
    background-color: #fff;
    color: #5915df;
    border: 1px solid #efefef;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    transition: 0.4s;
    font-size: 22px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
  }

.accordion:hover {
    background-color: #f8f8f8;
}

.panel {
    padding: 0 70px;
    background-color: white;
    border-bottom: 1px solid #ebebeb;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel-p{
    color: #333;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    font-size: 18px;
    width: 80%;
}

.exp-icon{
    width: 35px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

@media only screen and (max-width: 500px){

    .exp-h{
        font-size: 20px;
    }


    .panel-p{
        width: 100%;
        font-size: 14px;
    }

    .panel{
        padding:0 15px;
    }

    .exp-container{
        padding: 0;
    }

    .accordion{
        font-size: 16px;
        padding: 25px 15px;
    }

    .exp-icon{
        width: 30px;
    }

    .service-icon{
        width: 35px;
    }

    .service-icon-container{
        width: 65px;
        height: 65px;
    }
}


.rotate {
    transform: rotate(45deg); /* Rotate the icon 30 degrees */
}

@media only screen and (max-width: 1100px){
    .services-blocks{
        flex-direction: column;
    }

}

.why-us{
    z-index: 2;
    padding: 70px 0 70px 0;
    margin-top: 100px;
    background: #5915df;
    position: relative;
}

.why-us::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: -1;
}

.why-us-dets{
    max-width: 100%;
    color: #fff;
    text-align: center;
}

.why-h2{
    font-weight: 600;
    font-size: 40px;
}

.why-p{
    font-size: 20px;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.why-btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    text-align: center;
    padding: 12px 24px;
    margin-top: 30px;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #5915df;
    transition: 0.3s;
    cursor: pointer;
}

.why-btn:hover{
    background-color: #fff;
    color: #5915df;
}

@media only screen and (max-width: 800px){
    .why-p{
        width: 450px;
    }
}

@media only screen and (max-width: 500px){
    .why-p{
        width: fit-content;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .why-h2{
        font-size: 25px;
    }

    .why-btn{
        font-size: 16px;
        padding: 9px 18px;
    }

}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5915df;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.423);
    transition: all 0.2s ease-in;
  }
  
  #back-to-top-btn:hover {
    bottom: 35px;
  }

.to-top-icon{
    width: 20px;
}
  

footer{
    padding: 70px 20px 10px 20px;
    color: #6d6d6d;
}

.footer-logo{
    font-size: 16px;
    font-weight: 500;
}

.footer-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.policy-agreement{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-a{
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
}



.footer-logo-p2, .footer-logo-p{
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 50px;
}

.footer-ul{
    padding-left: 0;
}

.footer-top-li{
    margin-right: 70px;
}

.footer-top-li, h4{
    color: #000000;
}

.footer-a{
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
    font-weight: 400;
    color: #6d6d6d;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

.footer-a:hover{
    color: #5915df;
    padding-left: 5px;
}


@media only screen and (max-width: 500px){
    footer{
        padding: 70px 10px;
    }

    .footer-img{
        width: 35px;
    }

    .footer-a{
        font-size: 14px;
    }

    .policy-agreement{
        font-size: 14px;
    }

    .footer-logo-p{
        font-size: 14px;
    }
}




